body{
    font-family: 'Ubuntu', sans-serif;
    color:white;
    margin:0px;
    padding:0px;
    background: url('images/bg1.jpg');
}
.left img{
    width: 100px;
    padding-left: 24px;
}
.left div {
    line-height: 5px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.left{
    display:inline-block;
    /* border:2px solid red; */
    position:absolute;
    left: 34px;
    top:18px;
}
.mid{
    display:block;
    border:2px solid rgb(119, 119, 119);
    width:36%;
    margin:20px auto;
    border-radius:30px;
}
.right{
    display:inline-block;
    /* border:2px solid yellow; */
    position:absolute;
    right:34px;
    top:20px;
    padding:8px;
}
.nav{
    display: inline-block;
}
.nav li{
    display: inline-block;
    font-size:17px;
}
.nav li a{
    font-weight:bold;
    color:white;
    text-decoration: none;
    padding:34px 20px;
}
.nav li a:hover,.nav li a:active{
    text-decoration: none;
    color:rgb(115, 115, 115);
}
.btn {
    font-family: 'Ubuntu', sans-serif;
    margin: 2px 9px;
    background-color:transparent;
    color: rgb(255, 255, 255);
    padding: 12px 14px;
    border: 2px solid grey;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(115, 115, 115);
}
.container {
    border: 2px solid white;
    margin: 106px auto;
    padding: 40px;
    width: 33%;
    border-radius: 28px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}

.form-group input {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: block;
    width: 300px;
    padding: 4px;
    border: 2px solid rgb(238, 236, 236);
    margin: 18px auto;
    font-size: 15px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    Color: rgb(55, 55, 55);
}

.container h1 {
    text-align: center;
    font-size:25px;
    padding-bottom:5px;
}

.container button {
    display: block;
    width: 50%;
    margin: 20px auto;
}